Flask==0.8
Jinja2==2.6
Werkzeug==0.8.2
blinker==1.2
certifi==0.0.7
chardet==1.0.1
gunicorn==0.13.4
lxml==2.3.3
pyquery==1.1.1
python-dateutil==1.5
raven==1.1.6
requests==0.10.1
simplejson==2.3.2
wsgiref==0.1.2
pytz
